<div class="login-wrapper">
  <div class="login-card">
    <h1>TravelX</h1>
    <p class="subtitle">Entrez votre adresse email pour réinitialiser votre mot de passe</p>

    <div *ngIf="message" class="error-message">{{ message }}</div>

    <form (ngSubmit)="onSubmit()" #forgotForm="ngForm">
      <div class="input-group">
        <span class="icon">📧</span>
        <input type="email" id="email" name="email"
               [(ngModel)]="email" required placeholder="Adresse email"/>
      </div>

      <button type="submit" [disabled]="forgotForm.invalid">Envoyer</button>
    </form>

    <button class="secondary-btn" routerLink="/login">Retour à la connexion</button>
  </div>
</div>
