<div class="login-wrapper">
  <div class="login-card">
    <h1>TravelX</h1>
    <p class="subtitle">Réinitialisez votre mot de passe</p>

    <div *ngIf="message" class="error-message">{{ message }}</div>

    <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
      <div class="input-group">
        <span class="icon">🔒</span>
        <input type="password" id="newPassword" name="newPassword"
               [(ngModel)]="newPassword" required placeholder="Nouveau mot de passe"/>
      </div>

      <button type="submit" [disabled]="resetForm.invalid">Réinitialiser</button>
    </form>

    <button class="secondary-btn" (click)="goToLogin()">Retour à la connexion</button>
  </div>
</div>
