/* You can add global styles to this file, and also import other style files */
/* Assurer que html et body prennent toute la hauteur */
html, body {
  height: 100%;
  margin: 0;
}

/* Centrer tout le contenu du composant racine */
app-root {
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center;     /* centre verticalement */
  height: 100%;            /* prend toute la hauteur de la page */
  background: #f0f2f5;     /* fond optionnel */
}
a {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #6c63ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s;
}

.google-btn:hover {
  background-color: #f7f7f7;
}

.google-btn img {
  height: 20px;
}
