.inscription-container {
  color: #111184;
  width: 420px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


.inscription-container h2 {
  color: #070738;
  margin-bottom: 20px;
}

.sexe {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #111184;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background: #111184;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

button[type="submit"]:hover {
  background: #ff5500;
}
